/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Temporarily Adding Styles
.songs_list__elevate {
    margin: 20px 120px;
}

