.playlist {
    margin: 50px;
    h4 {
        text-align: center;
        color: red;
    }
    .playlist__elevate {
        margin: 20px 120px;
    }
    .playlist__btn {
        text-align: center;
        button {
            border: 1px solid lightgrey;
        }
    }
    
}
.container {
    cursor: pointer;
    &__left {
        float: left;
        width: 60%;
    }
    &__right button {
            position: relative;
            left: 110px;
            top: -40px;
        }
    }

    .playlist-btn {
        margin: 15px;
    }
    .add__playlist {
        float: right;
        margin-right: 122px;
        margin-top: 20px;
        button:nth-child(2) {
            margin-left: 10px;
        }
    }
    .add__playlist--name {
        margin-left: 16px;
    }
