<div *ngIf="!showPlayList" class="playlist">
    <h4 *ngIf="!playListData">You don't have Playlist. Create one!</h4>
    <div *ngIf="playListData && playListData.length > 0">
        <div class="mat-elevation-z4 playlist__elevate" *ngFor="let item of playListData">
            <mat-list role="list" class="container" (click)="onSelectPlaylist(item)">
                <div class="container__left">
                    <mat-list-item role="listitem">{{item.playlistname}}</mat-list-item>
                </div>
                <div class="container__right">
                    <mat-list-item role="listitem">Created At: {{item.creationDate | date: 'MMM d, y, h:mm:ss a'}}</mat-list-item>
                </div>
            </mat-list>
        </div>
    </div>
    
    <div class="playlist__btn">
        <button mat-raised-button type="button" (click)="openDialog()">Create Playlist</button>
    </div>
</div>
<div *ngIf="showPlayList">
    <button type="button" class="playlist-btn" mat-raised-button (click)="backToPlaylist()">
        <mat-icon aria-hidden="false" aria-label="back icon">arrow_back</mat-icon> Go Back to Playlist</button>
    <div class="add__playlist">
        <button type="button" mat-raised-button (click)="shuffleSongs()">Shuffle Play</button>
        <button type="button" mat-raised-button (click)="addSong()">Add Song</button>
    </div>
    <div class="add__playlist--name">
        <h4>PlayList : {{currentPlayList}}</h4>
    </div>
    <div class="mat-elevation-z4 songs_list__elevate" *ngFor="let item of playListSongs">
        <mat-list role="list" class="container">
            <div class="container__left">
                <mat-list-item role="listitem">Song Name: {{item.title}}</mat-list-item>
                <mat-list-item role="listitem">Album Id: {{item.albumId}}</mat-list-item>
            </div>
            <div class="container__right">
                <img src='{{item.thumbnailUrl}}' alt="image" height="90" width="90"/>
                <button mat-raised-button type="button" (click)="deleteSong(item)">Delete</button>
            </div>
        </mat-list>
    </div>
</div>
